@model CloakedRobot.Web.Areas.Admin.Models.PostInput

@{
    
}

<section>
    <header>
        <h1>Write Post</h1>
    </header>

    <div class="row-fluid">
        <div class="span12">
            @using(Html.BeginBootstrapForm("Save", htmlAttributes: new { @class = "form-horizontal"}))
            {
                @Html.HiddenFor(x => x.Id)

                @Html.BootstrapControlGroupFor(x => x.Title)

                @Html.BootstrapControlGroupFor(x => x.IsPublished)

                if ( ! Model.IsNewPost )
                {
                    @Html.BootstrapControlGroupFor(x => x.DateCreated)
                    @Html.BootstrapControlGroupFor(x => x.DatePublished)
                }

                @Html.BootstrapControlGroupFor(x => x.Content)

                @Html.BootstrapFormActions("Save","save")
            }        
        </div>
    </div>
</section>

@section Scripts {
    <script>PostForm();</script>
}