@model System.Collections.Generic.List<CloakedRobot.Web.Models.Post>

@{
    ViewBag.Title = "Posts";
}

<header>
    <h1>Posts</h1>
</header>
<table class="table table-striped full-section table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Permalink</th>
            <th>Published Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Title</td>
                <td>@p.Permalink</td>
                <td>@p.PublishAt.ToString()</td>
                <td>
                    <a href="@Url.Action("Edit", new { p.Id })" class="btn">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
