@{
    
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@if (!string.IsNullOrEmpty(ViewBag.Title)) { @ViewBag.Title } else { @ViewBag.BlogConfig.BlogName }</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/commonStyles")
</head>
<body>
    <section class="content">
        <aside>
            <div id="logo">@ViewBag.BlogConfig.BlogName</div>
        </aside>
        <section class="main">
            @RenderBody()
        </section>
    </section>
</body>
</html>
