@{
    string ownerEmail = ViewBag.BlogConfig.OwnerEmail.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@if (!string.IsNullOrEmpty(ViewBag.Title)) { <text>@ViewBag.Title</text> } else { @ViewBag.BlogConfig.Title }</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/commonStyles")
</head>
<body>
    <section class="main">
        <aside>
            <div id="logo">@Html.GravatarImage(ownerEmail) <span class="owner-name">@ViewBag.BlogConfig.OwnerName</span></div>
        </aside>
        <section class="content">
            @RenderBody()
        </section>
    </section>
</body>
</html>
